body {
    font-family: 'Poppins', sans-serif;
}

.section {
    min-height: 500px;
}

.img{
    width: 50px;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideInRight 1s ease forwards;
    width: 500px;
}

.title-header, .button2 {
    animation: slideInLeft 1s ease forwards;
}